.header {
    
    text-align:Center;
    line-height:100px;
    font-family: "Copperplate", "Courier New", monospace;
    font-size: 32px;
}
.nav{
    border:1px solid white;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0px 70px 70px  ;
    text-align:center;
    line-height: 0px
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}     
  
}

ul.nav li a {
  transition: color 0.2s linear;
  font-size: 18px;
}

ul.nav li:hover a {
  color: red;
}

ul.nav li a {
  padding: 21px;
  color: initial;
  text-decoration: initial;
}
.container {
  text-align: center;
}
